
    body {
      margin: 0;
      padding: 0;
      background: #fdf6e3 url('img/bgkopi.jpg') repeat;
      background-size: contain;
      font-family: Arial, sans-serif;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .tab-container {
      display: flex;
      margin-bottom: 20px;
      background: #fff;
      border-radius: 24px;
      overflow: hidden;
    }
    .tab {
      padding: 10px 30px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      border: none;
      outline: none;
      background: none;
      transition: background-color 0.3s, color 0.3s;
    }
    .tab.active {
      background-color: #b89c5a;
      color: white;
    }
    .form-container {
      background-color: #b89c5a;
      padding: 30px 20px;
      border-radius: 20px;
      width: 260px;
      text-align: center;
    }
    .form-container h2 {
      margin-top: 0;
      margin-bottom: 20px;
      color: white;
    }
    .form-container input {
      width: 90%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 20px;
      border: none;
      outline: none;
    }
    .form-container p {
      font-size: 14px;
      color: white;
      margin-top: 10px;
    }
    .form-button {
      background-color: transparent;
      color: black;
      padding: 10px 30px;
      border: 2px solid black;
      border-radius: 24px;
      margin-top: 20px;
      font-size: 16px;
      cursor: pointer;
      text-transform: uppercase;
      transition: background-color 0.3s, color 0.3s;
    }
    .form-button:hover {
      background-color: black;
      color: #b89c5a;
    }
